.gpt3__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(5px);
    padding: 2rem 6rem;
    max-height: 90px;
    z-index: 100;
}

.gpt3__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.gpt3__navbar-links_logo {
    margin-right: 2rem;
    font-size: 30px;
    font-weight:800;
    font-family: var(--font-family);
    background: white;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.15s ease;
}

.gpt3__navbar-links_logo:hover {
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.15s ease;
}

.gpt3__navbar-links_logo img {
    width: 62.56px;
    height: 16.02px;
}

.gpt3__navbar-links_container {
    display: flex;
    flex-direction: row;
}

.gpt3__navbar-links_container_title:hover{
    color: #FF4820;
    transition: color 0.2s ease-in-out;
}

.gpt3__navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.gpt3__navbar-links_container p,
.gpt3__navbar-sign p,
.gpt3__navbar-menu_container p {
    color: white;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
    transition: all 0.15s ease-in;
}
.gpt3__navbar-links_container p:hover,
.gpt3__navbar-sign p:hover,
.gpt3__navbar-menu_container p:hover {
    color: #FF4820;
    transition: all 0.15s ease-in;
}

.gpt3__navbar-sign button,
.gpt3__navbar-menu_container button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 55px;
    color: white;
    background: #FF4820;
    font-family: var(--font-family);
    font-size: 18px;
    line-height: 25px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.15s ease-in;
}

.gpt3__navbar-sign button:hover,
.gpt3__navbar-menu_container button:hover {
    font-size: 22px ;
    color: white;
    background: rgba(255, 72, 32, 0.5);
    border: 3px solid #ff4820;
    transition: all 0.15s ease-in;
}
.gpt3__navbar-sign button:active,
.gpt3__navbar-menu_container button:active {
    font-size: 16px ;
    color: white;
    background: rgba(255, 72, 32, 0.5);
    border: 3px solid #ff4820;
    transition: all 0.15s ease-in;
}

.gpt3__navbar-menu {
    margin-left: 1rem;

    display: none;
    position: relative;
}

.gpt3__navbar-menu svg{
    cursor: pointer;
}

.gpt3__navbar-menu_container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;

    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
}

.gpt3__navbar-menu_container p {
    margin: 1rem;
}

.gpt3__navbar-menu_container-links-sign{
    display: none;
}

@media screen and (max-width: 1050px) {
    .gpt3__navbar-links_container {
        display: none;
    }

    .gpt3__navbar-menu {
        display: flex;
    }
}

@media screen and (max-width: 700px) {
    .gpt3__navbar {
        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 550px) {
    .gpt3__navbar {
        padding: 2rem;
    }

    .gpt3__navbar-sign {
        display: none;
    }

    .gpt3__navbar-menu_container {
        top: 20px;
    }

    .gpt3__navbar-menu_container-links-sign {
        display: block;
    }
}